




/* ------------- HEADER ------------- */
header {

}

nav {
	.topnav a {
    display: block;
}
.topnav .icon {
    display: none;
}
} // end nav


/* ------------- MAIN ------------- */
main {
    max-width: 100em;
    margin: 0 auto;

    .form {
        form {
        
            .form-section {
                section {
                    margin: 0;
                }
            }
            .submit-div {
                display: block;
                max-width: 350px;
                margin: 0;
            }
        }
    }


    
    
    
    
    
    
    
    
    
}