/* ------------- HEADER ------------- */

//nav
.hidden {
    width: 0;
    height: 0;
}

.topnav a:hover.hidden {
    background: transparent;
}
// end nav


/* ------------- MAIN ------------- */
main {
    margin: 0 auto;

    .form {
        form {
        
            .form-section {
                section {
                    margin: 0;
                }
            }
            .submit-div {
                display: block;
                max-width: 350px;
                margin: 0;
            }
        }
    }
}