/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ------------- BODY ------------- */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $normalWeight;
    min-height: 100%;
    position: relative;
    width: 100%;

    input {
        border-radius: 2px;
    }
    a {
        text-decoration: none;
        color: $secondaryColor;
        font-weight: 500;
    }
}


/* ------------- HEADER ------------- */
header {
    max-width: $maxWidth;
    background-color: $altColor;
    height: 100%;
    position: relative;
    .header-div {
        max-width: $maxWidth;
    }
	h1, h2 {
        padding-left: $gutterdbl; 
        font-weight: $boldWeight;
        position: relative;
        bottom: 0;
    } //end both

    
	h1{
        padding-top:35px;
        font-size: 2rem;
        color: $fontColor;
    } //end h1
    
	h2{
        font-size: 1.2rem;
        margin-top: .5rem;
        color: $fontColor;
        
    } //end h2
    
    figure {
        width: 200px;
        margin: $gutterdbl;
        margin-top: 0;
        img {
            width: 100%;
        }
    }
    
} //end header



/*  ------------- NAV -------------  */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    max-width: $maxWidth;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
    background-color: $secondaryColor;
    color: $fontColor;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: none;
    color: $fontColor;
    padding: 12.6px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $fontColor;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: $primaryColor;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: $altColor;
    color: $fontColor;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: $fontColor;
    color: $primaryColor;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 560px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 560px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }  
} 

.hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

// end nav



/*  ------------- MAIN -------------  */

main {
    min-height: 20rem;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    #main-div {
        margin-bottom: $gutterdbl;
        
    }
    
	h1 {
		font-size: 2rem;
		margin-top: 1rem;
		color: $primaryColor;
        margin-left: $gutter;
	} // end h1
	
	h2 {
		font-size: 1.5rem;
		margin: .75rem 0 .5rem 0;
		color: $secondaryColor;
	} // end h2
	
//form
form.myForm section {
	padding: .5rem 2%;
	margin-bottom: .3rem;
}

#normal {
    border-radius: 20px;
}

form.myForm label {display: block;}
form.myForm span {
	color: #666; 
	padding: .1rem;
	font-weight: 600;
	font-size: .8rem;
}


form.myForm .myInput {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border: 1px solid #b6b6b6;
	font-size: 120%;
	padding: .4rem 2%;
	width: 100%;
	background-color: transparent;
}

form.myForm .myInput {
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

    .form {
        max-width: $maxWidth;
        
        form {
        margin: $gutterdbl;
            .form-section {
                display: block;
                border: 1px solid #666;
                border-radius: 20px;
                padding: 10px;
                padding-top: 0px;
                margin-top: $gutterdbl * 2;
                .section-heading {
                    display: block;
                    background: $altColor;
                    position: relative;
                    bottom: 1rem;
                    margin-left: $gutterdbl;
                    width: 200px;
                    padding-top: $gutter;
                    padding-bottom: $gutter;
                    h3 {
                        text-align: center;
                        color: $fontColor;
                    }
                }
                section {
                    display: block;
                    max-width: 350px;
                    margin: auto;
                    
                }
            }
            .submit-div {
                display: block;
                max-width: 350px;
                margin: auto;
                .submitButton {
                            border-radius: 20px;
                            background-color: $secondaryColor;
                            color: $fontColor;
                            border: none;
                            width: 200px;
                            padding: .5rem;
                            text-align: center;
                            font-size: 1rem;
                            display: block;
                            margin: auto;
                            margin-top: $gutterdbl * 2;
                        }
    
                        .submitButton:hover {
                            background-color: lighten($secondaryColor, 20%);
                            cursor: pointer;
                    }
            }
        }
    }
    
#material {
    input {
            margin: $gutter;
        }
} 
    
    input:required:valid {
  border: 1px solid green;
}
    input:required:invalid {
  border: 1px solid red;
}
       
} // end main


/*  ------------- FOOTER -------------  */
.footer-div {
    max-width: $maxWidth;
footer {
    display: block;
    float: left;
	width: 100%;
	background-color: $primaryColor;
    margin-top: $gutterdbl;
    div {
        max-width: $maxWidth;
        
    }
	p {
		text-align: center;
		color: $fontColor;
		padding: .75rem 0;
		font-size: .9rem;
	} // end p
	p a {
        color: $fontColor;
        text-decoration: none;
    }
} 
}// end footer



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}