$primaryColor: #333;
$secondaryColor: #0476a3;
$altColor: #888889;
$fontColor: #f2f2f2;

$defaultFont: 'Raleway', sans-serif;;
$normalWeight: 300;
$boldWeight: 500;

$maxWidth: 75rem;
$gutter: .5rem;
$gutterdbl: (2 * $gutter);
